<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edición de Aula</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .nav-tabs {
            margin-bottom: 20px;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s;
        }
        .card:hover {
            transform: translateY(-2px);
        }
        h1 {
            color: #343a40;
        }
        .btn-success {
            width: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Edición de Aula</a>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="index.html">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/aulas}">Listado Aulas</a>
    </li>
</ul>

<div class="container">
    <h1 class="text-center mb-4">Edición de Aula</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/aulas/{id}(id=${aula.id})}" th:object="${aula}" method="POST">
                        <div class="form-group">
                            <label for="nombreAula">Nombre del aula:</label>
                            <input type="text" id="nombreAula" name="nombreAula" th:field="*{nombreAula}" class="form-control" placeholder="Digitar Nombre" required>
                        </div>

                        <div class="form-group">
                            <label for="capacidad">Capacidad del aula:</label>
                            <input type="number" id="capacidad" name="capacidad" th:field="*{capacidad}" class="form-control" placeholder="Colocar capacidad" required>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>

</body>
</html>
